<div class="content">
  <div class="content-articles">
    <div class="content-articles-user">
      <h3>Welcome, <%= current_user.name %></h3>
      <%= link_to "New article", new_article_path, class:"btn btn-primary btn-sm" %>
    </div>
    <!-- SEARCH ARTICLE -->
    <div class="search-body">
      <%= simple_form_for :search, url: articles_path, method: "GET", html: { class: 'form-control-lg d-flex' } do |f| %>
      <%= f.input :title, input_html: {value: ""}, label: false, placeholder: "Search an article here here..", class:"search" %>
      <%= f.submit 'search',  class: "btn btn-primary btn-sm" %>
      <% end %>
    </div>
    <% if @articles.blank? %>
      <%= image_tag("hero-img.svg", class: "content-articles-img") %>
      <h2 class="content-articles-none">Sorry, we didn't find an article related to <span class="primary"><%= @title %></span></h2>
    <% end %>
    <!-- SEARCH ARTICLE -->
    <!-- ARTICLES.COUNT == 0 -->
    <% if @countArticles == 0 %>
      <%= image_tag("hero-img.svg", class: "content-articles-img") %>
      <h2 class="content-articles-none">Sorry, there are no articles.</h2>
      <div class="content-articles-button">
        <%= link_to "New article", new_article_path, class:"btn btn-primary" %>
      </div>
    <% end %>
    <!-- ARTICLES.COUNT == 0 -->
    <% @articles.each do |article| %>
    <div class="article">
      <div class="article-title">
        <h4><%= link_to article.title.upcase, article %> <i class="fa fa-link"></i></h4>
      </div>
      <div class="article-info">
        <div class="article-info-user">
          <small><i class="fa fa-user"></i></small> <span><small><%= article.user.name %> <%#= article.user.lastname %></small></span>
        </div>
        <div class="article-info-date">
          <small><i class="fas fa-calendar"></i></small> <span><small><%=article.created_at.to_date.to_formatted_s(:long)%></small></span>
        </div>
      </div>
      <div class="article-body">
        <% @firstWords = article.body.split(" ").first(35).join(" ") %> <!--Obtener las primeras 30 palabras-->
        <p><%= @firstWords %> ...</p>
      </div>
    </div>
    <%end%>
    <%= paginate @articles, theme: 'twitter-bootstrap-4' %>
  </div>
  <div class="content-user">
    <div class="user">
      <h5>Welcome, <%= current_user.name %></h5>
      <!-- <p>Hemos encontrado <%= @count %> artículos para tí.</p> -->
      <div class="user-buttons">
        <div class="user-buttons-view">
          <%= link_to "My Profile", user_path(current_user), class:"btn btn-primary btn-sm" %>
        </div>
        <div class="user-buttons-new">
          <%= link_to "New Article", new_article_path, class:"btn btn-primary btn-sm" %>
        </div>
      </div>
    </div>
    <div class="users">
      <h5>Recent Users</h5>
      <% @recentUsers.each do |user| %>
        <div class="user-active">
          <p><%= user.name %> <%= user.lastname %> <small><%= user.age %> años</small></p> 
        </div>
      <%end%>
    </div>
    <div class="recent-articles">
      <h5>Recent Articles</h5>
      <% if @count == 0 %>
      <h2 class="recent-articles-none">Create a article!</h2>
    <% end %>
      <% @recentArticles.each do |article| %>
        <div class="recent-article">
          <%= link_to article.title, article_path(article) %>
        </div>
      <%end%>
    </div>
  </div>
</div>
