<nav class="navbar navbar-expand-lg bg-mi">
  <div class="container">
    <%= link_to image_tag("logo.svg", class: 'mt-1 img-fluid logo-img'), root_path, class: 'logo mr-3' %>
      
    <% if user_signed_in? %>
      <div class="search-nav">
        <%= simple_form_for :search, url: articles_path, method: "GET", html: { class: 'form-inline' } do |f| %>
        <%= f.input :title, input_html: {value: ""}, label: false, placeholder: "Search an article here here..", class:"search" %>
        <%= f.submit 'search',  class: "btn btn-primary btn-sm" %>
        <% end %>
      </div>
    <%end%>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon d-inline">
      <% if user_signed_in? %>
        <%= link_to('Log out', destroy_user_session_path, class: 'btn btn-outline-primary btn-sm', method: :delete) %>
      <% else %>
        <%= link_to 'Log in', user_session_path, class: 'btn btn-outline-primary btn-sm' %>
        <%= link_to 'Register', new_user_registration_path, class: 'btn btn-primary btn-sm' %>
      <% end %>
    </span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <%= link_to 'Home', root_path, class: 'nav-link' %>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to 'Articles', articles_path, class:"nav-link" %>
        </li>
      <% end %>
      <li class="nav-item active">
        <a href="mailto:zabalafmiguel@hotmail.com" class="nav-link">Contact</a>
      </li>
      <!-- <li class="nav-item">
        <a href="#" class="nav-link">Posts</a>
        <%# link_to 'Posts', articles_path, class: 'nav-link' %>
      </li> -->
      <li class="nav-item">
        <p class="nav-link">|</p>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to current_user.name, user_path(current_user), class:"nav-link user" %>
        </li>
        <li class="nav-item d-flex align-items-center">
          <%= link_to('Log out', destroy_user_session_path, class: 'btn btn-outline-primary btn-sm', method: :delete) %>
        </li>
      <% else %>
        <li class="nav-item d-flex align-items-center">
          <%= link_to 'Log in', user_session_path, class: 'btn btn-outline-primary btn-sm' %>
        </li>
        <li class="nav-item d-flex align-items-center">
          <%= link_to 'Register', new_user_registration_path, class: 'btn btn-primary btn-sm' %>
        </li>
      <% end %>
    </ul>
  </div>
  </div>
</nav>

